language: go

go:
- 1.1
- 1.2
- 1.3
- 1.4

env:
  global:
    - GOSNMP_TARGET=127.0.0.1
    - GOSNMP_PORT=161

before_install:
 - sudo apt-get update -qq
 - sudo apt-get install snmpd

install:
 - go get github.com/soniah/gosnmp
 - sudo ./snmp_users.sh
 - sudo /etc/init.d/snmpd restart

script:
 - go test
